{
	auto_https off
	servers {
		trusted_proxies static private_ranges 100.0.0.0/8
	}
}

:{$PORT} {
	root * /app/dist
	encode gzip

	handle /health {
		respond "OK" 200
	}

	try_files {path} /index.html
	file_server
}
